AZURE_STORAGE_KEY="*"

AWS_ACCESS_KEY_ID="*"
AWS_SECRET_ACCESS_KEY="*"
AWS_STORAGE_BUCKET_NAME="*"
AWS_S3_ENDPOINT_URL="https://*.r2.cloudflarestorage.com"
AWS_S3_CUSTOM_DOMAIN="pub-*.r2.dev"

DEBUG="True"

DJANGO_SECRET_KEY="django-insecure-*"