{% extends "layout.html" %} {% block content %}

<h1 class="my-3">Admin panel tests</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for test in tests %}
    <tr class="admin-test-row">
      <th scope="row">{{ test.id }}</th>
      <td>
        {% if test.image %}
        <img width="50" src="{{ test.image.url }}"></img>
        {% else %}
        <img width="50" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"></img>
        {% endif %}
      </td>
      <td>{{ test.name }}</td>
      <td>{{ test.author.name }}</td>
      <td>

        <div class="btn-group admin-actions-buttons" role="group">
          <a href="{% url 'test_detail' test.id %}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="{% url 'test_edit' test.id %}" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-pen-fill"></i>
          </a>
          <a href="{% url 'test_delete' test.id %}" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash-fill"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'test_create' %}" class="btn btn-primary">Create New Test</a>

{% endblock %}
