{% extends "layout.html" %} {% block content %}

<h1 class="my-3">Admin panel tests</h1>

<table class="table admin-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for test in tests %}
    <tr class="admin-test-row">
      <th scope="row">{{ test.id }}</th>
      <td class="admin-td-img">
        {% if test.image %}
        <img width="50" src="{{ test.image.url }}"></img>
        {% else %}
        <img width="50" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"></img>
        {% endif %}
      </td>
      <td>{{ test.name }}</td>
      <td>{{ test.author.name }}</td>
      <td>

        <div class="btn-group admin-actions-buttons" role="group">
          <a href="{% url 'test_detail' test.id %}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="{% url 'test_edit' test.id %}" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-pen-fill"></i>
          </a>
          <a href="{% url 'test_delete' test.id %}" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash-fill"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'test_create' %}" class="btn btn-primary">Create New Test</a>

{% if messages %}
{% for msg in messages %}
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
  <div id="toastBlock" class="toast align-items-center text-bg-{% if msg.tags == 'error' %}danger{% else %}success{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ msg }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}


{% block scripts %}
{% if messages %}
<script>
  const toastBlock = document.getElementById('toastBlock')

  if (toastBlock) {
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastBlock)
    toastBootstrap.show()
  }
</script>
{% endif %}
{% endblock %}