{% extends "layout.html" %}

{% block content %}



<div class="test-info-bg d-flex flex-column">

<h1 class="my-3">{{ test.name }}</h1>

<div class="d-flex flex-column my-3 test-detail-img">
    {% if test.image %}
    <img class="w-50 align-self-center my-5" src="{{ test.image.url }}" />
    {% else %}
    <img class="w-50 align-self-center my-5" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" />
    {% endif %}
</div>

<p>Опис: {{ test.description }}</p>
<p>Автор: {{ test.author.get_full_name|default:test.author.username }}</p>
<p>Жанр: {{ test.genre.name }}</p>

<a class="btn btn-success align-self-start" href="{% url "test_question" test.id 1 %}">Розпочати</a>

<a class="btn btn-secondary mt-2 align-self-start" onclick="window.history.back();">Назад</a>

</div>
{% endblock %}
