{% extends "layout.html" %} {% block content %}

<h1>Tests</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for test in tests %}
  <a class="text-decoration-none"
    href="{% url 'test_detail' test.id %}"
  >
    <div class="col">
    <div class="card h-100">
      <img src="{{ test.image }}" class="card-img-top" alt="{{ test.name }}" />
      <div class="card-body">
        <h5 class="card-title">{{ test.name }}</h5>
        <p class="card-text">{{ test.author }}</p>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>

{% endblock %}