{% extends "layout.html" %} {% block content %}

{% load static %}

<div class="mx-auto w-50 my-5" style="width: fit-content;">
    <img class="w-100 border rounded" src="{% static "car-wash.jpg" %}" alt="">
</div>

<form id="question-form">
  <div class="form-group">
    <h1>{{ question.question_text }}</h1>
  </div>
  <div class="form-group" id="answer_options">
    {% for option in options %}
    <div class="form-check">
    <input class="form-check-input" type="radio" name="testQuestions" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        Default radio
    </label>
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}

{% block scripts %}
<script>

document.getElementById("question-form").addEventListener("submit", (event) => {
    event.preventDefault();
    window.location.href = "{% url "test_question" 0 0 %}".replace("0", {{ test_id }}).replace("0", {{ question_order }} + 1);
})

</script>
{% endblock scripts %}