{% extends "layout.html" %} {% block content %}

{% load static %}

<div class="mx-auto w-50 my-5" style="width: fit-content;">
    <img class="w-100 border rounded" src="{% static "car-wash.jpg" %}" alt="">
</div>

<form id="question-form" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <h1>{{ question.question_text }}</h1>
  </div>
  <div class="form-group" id="answer_options">
    {% for option in options %}
    <div class="form-check">
    <input class="form-check-input" type="radio" name="testQuestions" id="{{ option.id }}" value="{{ option.id }}">
    <label class="form-check-label" for="{{ option.id }}">
        {{ option.text }}
    </label>
    </div>
    {% endfor %}
  </div>
  <p>Current Score: {{ curent_score }}</p>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>



{% endblock %}

{% block scripts %}

{% endblock scripts %}