{% extends "layout.html" %} {% block content %}

<h1 class="testy-label">
  Testy - the
  <span style="background-color: black; color: white; padding: 5px">world</span>
  of the most interesting
  <span style="text-decoration: underline wavy black 2px">tests</span>.
</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for test in tests %}
  <div class="col">
    <a class="text-decoration-none" href="{% url 'test_detail' test.id %}">
      <div class="test-card card h-100">
        <div class="card-img-container">

          {% if test.image %}
          <img
            src="{{ test.image.url }}"
            class="card-img-top"
            alt="{{ test.name }}"
          />
          {% else %}
          <img
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            class="card-img-top"
            alt="{{ test.name }}"
          />
          {% endif %}

          <div class="card-view-info">
            <i class="bi bi-eye"></i>
            <span>{{ test.count_views }}</span>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ test.name }}</h5>
          <p class="card-text">{{ test.author }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
