{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center my-4">
  <h1 class="mb-0">Favorites</h1>
  <a class="btn btn-outline-secondary" href="{% url 'tests_list' %}">Back to tests</a>
</div>

{% if tests %}
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
  {% for test in tests %}
  <div class="col">
    <a class="text-decoration-none" href="{% url 'test_detail' test.id %}">
      <div class="test-card card h-100">
        <div class="card-img-container">
          {% if test.image %}
          <img src="{{ test.image.url }}" class="card-img-top" alt="{{ test.name }}" />
          {% else %}
          <img
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            class="card-img-top"
            alt="{{ test.name }}"
          />
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ test.name }}</h5>
          <p class="card-text">{{ test.author.get_full_name|default:test.author.username }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-info">You have no favorite tests yet.</div>
{% endif %}
{% endblock %}
