body {
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-image: url('main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.card img {
    /* height: 200px; */
    object-fit: contain;
    padding: 10px;
}

.test-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.testy-label {
    margin: 150px 0;
    text-align: center;
}

.test-info-bg {
    box-shadow: 0 -150px 100px 40px rgba(0, 84, 101, 0.2);
    min-height: 100%;
    padding: 20px;

}

.main-footer {
    background-color: white;
}
.main-footer * {
    color:black;
}

.card-img-container {
    position: relative;
}

.card-view-info {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: fit-content;
    padding: 0 5px;
    color: white;
    gap: 5px;


}